body {
    min-height: 10vh;
}

html {
    cursor: default;
}

.loading-div img {
    width: 100px;
}

.feedContainer {
    gap: 20px;
    display: flex;
    flex-direction: column-reverse;
}

.Containerpublicar {
    display: flex;
    flex-direction: column;
    background-color: #020202;
    color: white;
}

.separacao {
    margin: 0px 0px 0px 30px;
}

dialog {
    background-color: #020202;
    border-radius: 15px;
    border: 2px solid #5c0a0a;
}

.tudo {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
    /* min-height: 100vh; */
}

.container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.card {
    max-width: 700px;
    min-width: 500px;
    background: transparent;
    display: flex;
    flex-direction: column;
    border: solid 2px;
    border-radius: 15px;
    padding: 10px;
}

.card .cabecalho {
    max-width: 700px;
    min-width: 500px;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.card .cabecalho img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.card .cabecalho .tags {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: end;

}

.card .cabecalho .tags p {
    border-radius: 15px;
    background-color: transparent;
    color: white;
    padding: 10px;
    border: 2px solid rgba(255, 0, 0, 0.3);
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.3);
}

.card .conteudo {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 10px;
}

.card .conteudo p {
    max-width: 690px;
    min-width: auto;
}

.card .conteudo .imagem {
    display: flex;
    margin: 0px 20px;
    gap: 10px;
}

.card .conteudo .imagem img {
    max-width: 340px;
    min-width: auto;
    max-height: 500px;
    min-height: auto;
}

.interacoes {
    padding: 10px;
    width: 20%;
    justify-content: space-around;
    align-items: center;
    display: flex;
    gap: 20px;
}

.interacoes a {
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.item {
    display: flex;
    align-items: center;
}

.pesquisaTags {
    margin-left: 10%;
    width: 150px;
}

.itensTag {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 10px;
}

.itensTag a {
    text-decoration: none;
}

.itensTag a:hover {
    color: red;
    cursor: pointer;
}

.ferramentas {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 20px;
}

.ferramentas button {
    border-radius: 15px;
    padding: 10px;
    background-color: transparent;
    color: white;
    font-size: large;
    border: 2px solid rgba(255, 0, 0, 0.3);
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.3);
    transition: 0.2s;
    cursor: pointer;
}

.div-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.div-form input {
    border-radius: 5px;
    outline: none;
    border: none;
    border-bottom: 2px solid #5c0a0a;
    background-color: transparent;
    color: white;
}

.div-form textarea {
    outline: none;
    border: 2px solid #5c0a0a;
    border-radius: 15px;
    resize: none;
    background-color: transparent;
    color: white;
}

input[type="file"] {
    display: none;
}

.previa img {
    max-width: 250px;
    height: auto;
}

.totalTags{
    display: flex;
    gap: 20px;
}