header .login {
    border: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.imgUser img {
    margin-top: 30px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}


.pronomes {
    margin-top: -10px;
}

dialog {
    border-radius: 15px;
    border: 2px solid rgba(255, 0, 0, 0.3);
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.3);
    z-index: 500;
    background-color: #020202;
    color: white;
}
dialog::backdrop{
   z-index: 500; 
}

#editar {
    width: 50%;
}

textarea {
    resize: none;
    border-radius: 15px;
    border: 2px solid rgba(255, 0, 0, 0.3);
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.3);
    padding: 10px;
    background-color: transparent;
    color: white;
    width: 500px;
    height: 125px;
}

strong {
    color: red;
}

.containerEditar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
}

.containerEditar input {
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    color: white;
}

.containerEditar .botoesDialog {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.containerEditar .botoesDialog button {
    align-content: center;
    border-radius: 10px;
    background-color: transparent;
    border: #5c0a0a 2px solid;
    color: white;
    padding: 10px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.3);
}

.containerEditar input::placeholder {
    color: white;
}

.tagss {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px;
}

.ediçãodeTags {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 650px;
    padding: 10px;
}

.tagss a {
    cursor: pointer;
    transition: 1s;
}

dialog p:hover {
    transform: scale(1.2rem);
}

.nomeclaturas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: UnifrakturCook, cursive;
    font-size: large;
}

.nome {
    margin-top: -35px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.img_User img {
    align-self: center;
    width: 50px;
    border-radius: 100%;
}

.editarBotao {
    background-color: transparent;
    color: white;
    padding: 10px;
    font-size: large;
    border-radius: 15px;
    border: 2px solid rgba(255, 0, 0, 0.3);
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.3);
    transition: 0.2s;
}

.editarBotao:hover {
    transform: scale(1.1);
}

.parteTags {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 50%;
}

.espaçoParaTags {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 10px;
}

.espaçoParaTags p {
    border-radius: 15px;
    background-color: transparent;
    color: white;
    padding: 10px;
    font-size: large;
    border: 2px solid rgba(255, 0, 0, 0.3);
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.3);
}

.tagss p {
    border-radius: 15px;
    background-color: transparent;
    color: white;
    padding: 10px;
    font-size: large;
    border: 2px solid rgba(255, 0, 0, 0.3);
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.3);
    transition: 0.3s;
}

.tagss p:hover {
    transform: scale(2rem);
    color: #e60000;
}

.parteBotao {
    display: flex;
}

.parteTags button {
    border-radius: 100px;
    background-color: transparent;
    color: white;
    font-size: large;
    border: 2px solid rgba(255, 0, 0, 0.3);
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.3);
    transition: 0.2s;
}

.partePersonagens {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10px;
    gap: 10px;

}

.partePersonagens a {
    transition: 0.3s;
}

.botaoCriarficha a {
    cursor: default;
}

.partePersonagens button {
    text-align: center;
    border-radius: 15px;
    padding: 10px;
    width: 45px;
    background-color: transparent;
    color: white;
    font-size: large;
    border: 2px solid rgba(255, 0, 0, 0.3);
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.3);
    transition: 0.2s;
    cursor: pointer;
}

.cardPersonagem {
    background-color: transparent;
    color: white;
    font-size: large;
    border-radius: 10px;
    border: 2px solid rgba(255, 0, 0, 0.3);
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.3);
    padding: 0px 10px;
    align-items: center;
    display: flex;
    width: 80%;
    justify-content: space-between;

}

.partePersonagens a:hover {
    transform: scale(1.1);
}

.cardPersonagem button:hover {
    transform: scale(1.1);
}

.infos {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
}

.ferramentas {
    margin-top: 50px;
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ferramentas button {
    border-radius: 15px;
    padding: 10px;
    background-color: transparent;
    color: white;
    font-size: large;
    border: 2px solid rgba(255, 0, 0, 0.3);
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.3);
    transition: 0.2s;
}

.partePosts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 20px;
}

.partePosts .card {
    max-width: 700px;
    min-width: 500px;
    background: transparent;
    display: flex;
    flex-direction: column;
    border: solid 2px;
    border-radius: 15px;
    padding: 10px;
}

.card .cabecalho {
    max-width: 700px;
    min-width: 500px;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.card .cabecalho img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.card .cabecalho .tags {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: end;

}

.card .cabecalho .tags p {
    border-radius: 15px;
    background-color: transparent;
    color: white;
    padding: 10px;
    border: 2px solid rgba(255, 0, 0, 0.3);
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.3);

}


.card .conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card .conteudo p {
    max-width: 690px;
    min-width: auto;
}

.card .conteudo .imagem {
    display: flex;
    margin: 0px 20px;
    gap: 10px;
}

.card .conteudo .imagem img {
    max-width: 340px;
    min-width: auto;
    max-height: 500px;
    min-height: auto;
}

.interacoes {
    padding: 10px;
    width: 20%;
    justify-content: space-around;
    align-items: center;
    display: flex;
    gap: 20px;
}

.interacoes a {
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.item {
    display: flex;
    align-items: center;
}


.informacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.informacoes p {
    width: 50%;
    text-align: center;
    align-self: center;
}

.informacoes img {
    width: 100px;
    border-radius: 100%;
}

.informacoes h1,
.informacoes h2,
.informacoes h3,
.informacoes h4 {
    color: #e60000;
    text-transform: uppercase;
    margin-top: 40px;
    border-bottom: 1px solid #5c0a0a;
    padding-bottom: 5px;
}

.informacoes button {
    width: auto;
    border-radius: 15px;
    padding: 10px;
    background-color: transparent;
    color: white;
    font-size: large;
    border: 2px solid rgba(255, 0, 0, 0.3);
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.3);
    transition: 0.2s;
}

.pontosBasicos {
    display: flex;
    align-items: center;
    gap: 20px;
}

.itemBase {
    display: flex;
    flex-direction: column;
    align-items: center;
}