.tituloBest, .card .titulo h1 {
    font-family: 'UnifrakturCook', cursive;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.card .titulo {
    text-align: center;
    margin-top: 60px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}

.card .imagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 33px;
    margin: 40px 0;
}

.card .imagens img {
    width: 200px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.card .imagens img:not(dialog img):hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 10px #9c1111);
}

dialog {
    border: solid 2px #4b0000;
    border-radius: 12px;
    background-color: #1c1c1c;
    color: white;
    padding: 30px 40px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 0 25px rgba(255, 0, 0, 0.3);
    animation: fadeInModal 0.3s ease-out forwards;
    transform: scale(0.95);
    opacity: 0;
}
dialog img{
    width: auto;
    height: auto;
    max-width: 200px;
    min-width: auto;
    max-height: 250px;
    min-height: auto;
}

@keyframes fadeInModal {
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal img {
    width: 150px;
    margin-bottom: 20px;
}

.modal h1 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: white;
    text-shadow: 1px 1px 5px #000;
}

.modal p {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 10px;
}

.modal ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 20px;
}

.modal ul li {
    background-color: #2a2a2a;
    margin: 5px 0;
    padding: 10px;
    border-left: 5px solid #5c0a0a;
    font-size: 1rem;
}

.modal button {
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    border: solid 2px #5c0a0a;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0px 0px 15px 5px #5c0a0a;
}

.modal button:hover {
   border: solid 2px white;
   box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.192);
}
