.ContainerFicha {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 20px;
}

.containerLadoaLado {
    display: flex;
    flex-direction: row;
}

.detalhes .campo {
    margin: 10px;
    width: 300px;
    height: 300px;
    align-items: start;
    padding: 10px;
    color: white;
    background: transparent;
    border: rgb(90, 0, 0) solid 2px;
    box-shadow: 0 0 20px rgba(117, 13, 13, 0.6);
    border-radius: 8px;
}
.containerAtributos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.atributo, .atributo p{
    display: flex;
    margin: 10px;
    flex-direction: row;
    align-items: center;
}
.atributo p{
    width: 100px;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.troca {
    transition: transform 0.3s, color 0.3s;
    color: red;
    transform: scale(1.5);
  }
    
.atributo button {
    border-radius: 100px;
    font-size: larger;
    background-color: transparent;
    border: rgb(90, 0, 0) solid 2px;
    box-shadow: 0 0 20px rgba(117, 13, 13, 0.6);
    color: rgb(90, 0, 0);
    margin: 5px;
}
.botoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.camposiniciais {
    display: flex;
}

.camposiniciais input, textarea {
    background: transparent;
    border: none;
    color: white;
    border-bottom: black solid 2px;
    margin: 2px 10px;
}

.camposiniciais input::placeholder {
    color: white;
}

.containerTotal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.nome {
    margin: 10px 0px
}

.habilidadeGeral {
    display: flex;
    justify-content: space-evenly;
}

.ramificacao {
    display: flex;
    flex-direction: column-reverse;
    margin: 10px;
}

.garras button {
    margin: 10px;
    border-radius: 100px;
    border: none;
    padding: 10px;

}

.garras {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Voo button {
    margin: 10px;
    border-radius: 100px;
    border: none;
    padding: 10px;

}

.Voo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.habilidades {
    display: flex;
    justify-content: space-evenly;
}

.transformacoes {
    display: flex;
}

.transformacoes button:hover {
    background-color: gray;
    border: white solid 1px;
    color: white;
}

.transformacao {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
}

.vertical {
    display: flex;
    flex-direction: column-reverse;
}

.horizontal {
    display: flex;
}

.item button {
    margin: 10px;
    padding: 10px;
    border-radius: 100px;
    border: none;
}

.ladinho {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.habilidades button:hover {
    background-color: gray;
    border: white solid 1px;
}

dialog {
    overflow: hidden;
    overflow-x: hidden;
    border-radius: 10px;
    border: none;
    padding: 10px;
}