@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=UnifrakturCook:wght@700&family=EB+Garamond&display=swap');

@font-face {
    font-family: Land;
    src: url(../assets/fonts/Enchanted\ Land.otf);
}


@font-face {
    font-family: Ancient;
    src: url(../assets/fonts/Ancient\ Medium.ttf);
}

@font-face {
    font-family: Engravers;
    src: url(../assets/fonts/OPTIEngraversOldEnglish.otf);
}
html{
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    background-color: gray;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*---------------------------------------------------------------------------BODY---------------------------------------------------------------------------*/
header {
    align-items: center;
    font-size: 150%;
    width: 100%;
    margin: 0;
    background-color: gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.562);
    border-bottom:white solid 1px;
}
header .itens{
    display: flex;
    align-items: center;
}

header a {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-family: Land;
    transition:color 0.2s;
    transition: 1s;
}

header .itens a:hover {
    color: red;
}

.itens {
    margin-right: 50px;
}

header img {
   width: 50%;
}
header .login img{
    width: 40%;
    margin: 0px 0px 0px 20px;
    border-radius: 100%;
}
header .login{
    margin:0px;
    padding: 5px;
    width:100px;
    display: flex;
    align-items: center;
    border-radius: 100px;
    border: solid white 1px;
}

/*--------------------------------------------------------------------------- IMAGEM DO FUNDO ---------------------------------------------------------------------------*/
.backgroundImage {
    width: 100%;
    height: 100vh;
    background-image: url("../assets/Till_the_Fangz.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.637);
}

/*--------------------------------------------------------------------------- SETINHA ---------------------------------------------------------------------------*/
.setinha .bx {
    color: white;
    transition: 0.2s;
}

.setinha .bx:hover {
    font-size: 110px;
}

.setinha {
    font-size: 50px;
    margin: 78vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

/*--------------------------------------------------------------------------- CONTAINER ---------------------------------------------------------------------------*/
.container {
    padding: 100px;
    color: white;
    border: white solid 2px;
}

.container .titulo {
    font-family: 'UnifrakturCook', cursive;
    margin-left: 5%;
}
/*-------------------------------------------------LISTA------------------------------------------------------*/
ul {
    list-style-type: '☥ ';
    padding-left: 1.5rem;
}
/*FOOTER*/
footer {
    color: white;
    height: 50px;
    background-color: rgb(114, 114, 114);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.377);
}

.card .imagens {
    margin: 100px;
    display: flex;
}
.card .imagens .modal img:hover{
    width: 200px;
}
.modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.card .imagens img {
    width: 200px;
}

.card .imagens img:hover {
    width: 250px;
    
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.card .titulo {
    font-size: large;
    color: white;
    font-family: Engravers;
   /* margin-top: 200px;*/
    margin-bottom: -100px;
}

.card .cartao {
    margin: 5px;
}

.opcoes {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(95, 95, 95);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.650);
}

.quiz {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.quiz button {
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

.quiz button:hover {
    background-color: red;
    box-shadow: 5px 5px 10px black;
}

.quiz .titulo {
    font-family: Engravers;
    width: auto;
}

.opcao button {
    background-color: rgb(163, 163, 163);
    border: none;
    border-radius: 5px;
    width: 100%;
    text-align: start;
    color: white;
    font-size: large;
}

.opcao button:hover {
    background-color: red;
    box-shadow: none;
}

.opcao button:focus {
    background-color: red;

}
.livro{
    margin: 40px;
    color: white;
}
.separacao .bx:hover{
width: 100px;
}
.separacao{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.separacao a{ 
    color:white;
    text-decoration: none;
}
.separacao .bx{
    font-size: 100px;
}
.separado:hover{
    transform: scale(1.05);
}
.separado{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(68, 68, 68);
    transition: 0.3s;
}
.subtitulo-transicao {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.5rem;
    color: #ccc;
    font-style: italic;
}

/* Estilos para telas médias (tablets) */
@media screen and (max-width: 768px) {
    .backgroundImage {
        height: 80vh;
        background-position: top center;  
        background-size: contain;  
    }
}
/* Estilos para telas pequenas (smartphones) */
@media screen and (max-width: 480px) {
    .backgroundImage {
        height: 60vh;
        background-position: top center;
        background-size: contain;
    }
}
