@font-face {
    font-family: Land;
    src: url(../assets/fonts/Enchanted\ Land.otf);
}

@font-face {
    font-family: Ancient;
    src: url(../assets/fonts/Ancient\ Medium.ttf);
}

@font-face {
    font-family: Engravers;
    src: url(../assets/fonts/OPTIEngraversOldEnglish.otf);
}

body {
    display: flex;
    flex-direction: column;
    background-color: gray;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;scroll-behavior: smooth;
}

/*---------------------------------------------------------------------------BODY---------------------------------------------------------------------------*/
header {
    align-items: center;
    font-size: 150%;
    width: 100%;
    margin: 0;
    background-color: gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.562);
}

header .itens a {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-family: Land;
}

header .itens a:hover {
    color: red;
}

.itens {
    margin-right: 50px;
}

header img {
    width: 50%;
}

/*--------------------------------------------------------------------------- IMAGEM DO FUNDO ---------------------------------------------------------------------------*/
.backgroundImage {
    width: 100%;
    height: 100vh;
    background-image: url("../assets/Till\ the\ Fangz.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.637);
}

/*--------------------------------------------------------------------------- SETINHA ---------------------------------------------------------------------------*/
.bx {
    color: white;
}

.bx:hover {
    font-size: 110px;
}

.setinha {
    font-size: 50px;
    margin: 78vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*--------------------------------------------------------------------------- CONTAINER ---------------------------------------------------------------------------*/
.container {
    padding: 100px;
    color: white;
    font-size: 40px;
}

.container .titulo {
    font-family: Engravers;
    margin-left: 120px;
    width: 50%;
}

/*FOOTER*/
footer {
    color: white;
    height: 50px;
    background-color: rgb(114, 114, 114);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.377);
}

.card .imagens {
    margin: 100px;
    display: flex;
}

.card .imagens .modal img:hover{
    width: 200px;
}
.modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.card .imagens img {
    width: 200px;
}

.card .imagens img:hover {
    width: 250px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.card .titulo {
    font-size: large;
    color: white;
    font-family: Engravers;
   /* margin-top: 200px;*/
    margin-bottom: -100px;
}

.card .cartao {
    margin: 5px;
}

.opcoes {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(95, 95, 95);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.650);
}

.quiz {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.quiz button {
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

.quiz button:hover {
    background-color: red;
    box-shadow: 5px 5px 10px black;
}

.quiz .titulo {
    font-family: Engravers;
    width: auto;
}

.opcao button {
    background-color: rgb(163, 163, 163);
    border: none;
    border-radius: 5px;
    width: 100%;
    text-align: start;
    color: white;
    font-size: large;
}

.opcao button:hover {
    background-color: red;
    box-shadow: none;
}

.opcao button:focus {
    background-color: red;

}
.livro{
    margin: 40px;
    color: white;
}
/* Estilos para telas médias (tablets) */
@media screen and (max-width: 768px) {
    .backgroundImage {
        height: 80vh;
        background-position: top center;  
        background-size: contain;  
    }
}

/* Estilos para telas pequenas (smartphones) */
@media screen and (max-width: 480px) {
    .backgroundImage {
        height: 60vh;
        background-position: top center;
        background-size: contain;
    }
}
